.main {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  background-color: #e6e7e9;
}

.load {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}
