.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 1275px;
  z-index: 100;
  justify-content: center;
  padding: 13px;
  background-color: rgb(191, 191, 191);
  border-bottom: 2px rgb(2, 164, 185) solid;
  align-items: center;

  &_categories {
    display: flex;
    min-width: 200px;
  }
}
